.btn {
  display: inline-flex;
  height: 40px;
  padding: 0 space(2);
  border-radius: 4px;
  align-items: center;
  color: $white;
  background-color: $black;
  transition: .4s;

  &:hover {
    background-color: lighten($black, 20%);
  }
}

.btn-border {
  border: 1px solid $light;
  background: transparent;

  &:hover {
    background: $black;
    border: 1px solid $black;
  }
}
