@import '../../../../assets/scss/master.scss';

.single-recette {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: calc(100vh - 192px);
}

.is-admin {
  display: flex;
  justify-content: flex-end;
  gap: space(2);
}

.description-recette {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  padding: space(3);
  margin-top: space(4);
  padding-bottom: space(6);
  border-bottom: 4px solid $black;

  .img-recette {

    img {
      width: 400px;
      height: 268px;
      border: 1px solid $black;
      border-radius: 2px;
    }
  }

  .content-recette {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: space(6);
    min-width: calc(100% - 424px);

    .header-recette {
      font-size: 2.5em;
      font-weight: 900;
      width: 100%;

      .name-recette {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        width:100%;
      }
    }

    .informations-recette {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      min-height: calc(100% - 40px);
      font-size: 1.2em;

      .time-preparation-recette {
        display: flex;
        align-items: center;
        gap: space(2);

        i {
          font-weight: 400;
          font-size: 1.4em;
        }
      }

      .time-cooking-recette {
        display: flex;
        align-items: center;
        gap: space(2);

        i {
          font-weight: 400;
          font-size: 1.4em;
        }
      }

      .people-recette {
        display: flex;
        align-items: center;
        gap: space(2);

        i {
          font-weight: 400;
          font-size: 1.4em;
        }
      }

      .difficulty-recette {
        display: flex;
        align-items: center;
        gap: space(2);

        i {
          font-weight: 400;
          font-size: 1.4em;
        }
      }
    }
  }
}

.details-recette {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: calc(100vh - 412px - 64px - 64px);
  margin-top: space(4);

  .ingredients-recette {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    min-height: 100%;
    border-right: 4px solid $black;

    .ingredients-header {
      display: flex;
      justify-content: center;
      font-weight: 900;
      font-size: 1.5em;
    }

    .ingredients-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(2);
      padding-top: space(4);
      padding-right: space(4);
      font-size: 1.2em;
      font-weight: 600;
    }
  }

  .preparation-recette {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100%;

    .preparation-header {
      display: flex;
      justify-content: center;
      font-weight: 900;
      font-size: 1.5em;
    }

    .preparation-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(2);
      margin-top: space(4);
      padding-left: space(4);
      font-size: 1.2em;
      font-weight: 600;

      .preparation-list {
        display: flex;
        gap: space(2);

        #preparation-list-number {
          font-weight: 900;
        }
      }
    }
  }
}

@media screen and (max-width: $xl) {
  .description-recette {
    .content-recette {
      width: 100%;

      .informations-recette {

        .time-preparation-recette {
          gap: space(1);

          .time-preparation-recette-text #time-preparation-recette-text-responsive {
            display: none;
          }
        }

        .time-cooking-recette {
          gap: space(1);

          .time-cooking-recette-text #time-cooking-recette-text-responsive {
            display: none;
          }
        }

        .people-recette {
          gap: space(1);

          .people-recette-text #people-recette-text-responsive {
            display: none;
          }
        }

        .difficulty-recette {
          gap: space(1);

          .difficulty-recette-text #difficulty-recette-text-responsive {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $l) {
  .description-recette {
    flex-direction: column;
    align-items: center;
    gap: space(4);

    .content-recette {
      gap: space(3);
      padding-left: 0;

      .informations-recette {
        gap: space(2);
      }
    }
  }

  .details-recette {
    flex-direction: column;
    align-items: center;
    gap: space(4);

    .ingredients-recette {
      min-width: 100%;
      min-height: 100%;
      border-right: none;
      border-bottom: 4px solid $black;
      padding-bottom: space(4);

      .ingredients-content {
        padding-right: 0;
      }
    }

    .preparation-recette {
      min-width: 100%;
      min-height: 100%;
      padding-bottom: space(4);

      .preparation-content {
        padding-left: 0;
      }
    }
  }
}

  @media screen and(max-width: $m) {
    .description-recette {
      .img-recette {
        img {
          width: 350px;
          height: 234px;
        }
      }
    }
  }

  @media screen and(max-width: $s) {
    .description-recette {
      .img-recette {
        img {
          width: 300px;
          height: 201px;
        }
      }
    }
  }

