<div class="login">

  <div class="login-title">
    <h1>{{ loginTitle }}</h1>
  </div>

  <div class="login-content">


      <div class="tabs">
        <button class="btn" [ngClass]="{'btn-border' : !this.tabs}" (click)="showConnexion()">Connexion</button>
        <button class="btn" [ngClass]="{'btn-border' : this.tabs}" (click)="showInscription()">Inscription</button>
      </div>

      <div class="connexion" *ngIf="this.tabs">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

        <label for="username">Votre nom d'utilisateur</label>
        <input type="username" id="username" placeholder="Nom d'utilisateur" formControlName="username">

        <label for="password" class="password">Votre mot de passe</label>
        <input type="password" id="password" placeholder="Mot de passe" formControlName="password">

        <div class="submit">
          <button type="submit" class="btn btn-submit">Se connecter</button>
        </div>

        </form>
      </div>

      <div class="inscription" *ngIf="!this.tabs">
        <form action="">

          <label for="username">Votre nom d'utilisateur</label>
          <input type="username" id="username" placeholder="Nom d'utilisateur">

          <label for="password" class="password">Votre mot de passe</label>
          <input type="password" id="password" placeholder="Mot de passe">

          <label for="password" class="password">Confirmez votre mot de passe</label>
          <input type="password" id="passwordConfirmed" placeholder="Mot de passe (confirmation)">

          <div class="submit">
            <button type="submit" class="btn btn-submit">S'inscrire</button>
          </div>

          </form>
      </div>


  </div>
</div>
