@import '../../../assets/scss/master.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: calc(100vh - 192px);
  overflow: hidden;

  h1 {
    padding: space(5);
    font-size: 2em;
    font-weight: 700;
  }

  .login-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: space(5);
    background-color: $card;
    border: 2px solid $black;
    border-radius: 4px;
  }

  .connexion {
    width: 100%;
  }

  .inscription {
    width: 100%;
  }

  .tabs {
    max-width: 500px;
    margin-bottom: space(5);

    button:first-of-type {
      margin-right: space(2);
    }
  }

  p {
    display: flex;
    justify-content: center;
  }

  .submit {
    display: flex;
    justify-content: center;
    margin-top: space(4);
  }
}



