<div class="login">

  <div class="login-content">


      <div class="tabs">
        <a href="" class="btn">Connexion</a>
        <a href="" class="btn btn-border">Inscription</a>
      </div>

      <div class="connexion">
        <form action="">

        <label for="prenom">Votre pseudo</label>
        <input type="pseudo" id="pseudo">

        <label for="password" class="password">Votre mot de passe</label>
        <input type="password" id="password">

        <div class="submit">
          <button type="submit">Se connecter</button>
        </div>

        </form>
      </div>

  </div>
</div>
