@import '../../../assets/scss/master.scss';

.modal-content {
  background-color: $background;

  .modal-header {
    font-size: 1.3em;
    font-weight: 900;
    border-bottom: 1px solid lighten($background, 20%);
  }

  .modal-footer {
    border-top: 1px solid lighten($background, 20%);
  }
}
