<div class="search-recette">

  <div class="left">
    <h2>Catégories</h2>
    <div class="list-categories">
      <div class="card-category" [class.card-selected]="this.checkSelected(category.name)" *ngFor="let category of categories; let index = index" (click)="this.clickCategory(category.name)">
        <span class="category">{{ category.name }}</span>
      </div>
    </div>
    <button type="button" [disabled]="searching" class="btn" (click)="this.searchRecette()">Proposez moi une recette aléatoire</button>
  </div>

  <div class="center">
    <i class="ri-arrow-right-line"></i>
  </div>

  <div class="right">

    <div class="unknown-recette" [hidden]="!this.unknownRecette">
      <i class="ri-question-mark"></i>
    </div>

    <div class="notfound-recette" [hidden]="!this.notfoundRecette">
      <span class="notfound">Aucun résultat trouvé.</span>
    </div>

    <div class="loading-recette" [hidden]="!this.loadingRecette">
      <app-loader></app-loader>
    </div>

    <div class="card-recette" [hidden]="!this.foundRecette">
      <div class="header-recette">
        <span id="name-recette">{{ recette ? recette.name : '' }}</span>
      </div>
      <div class="img-recette">
        <img src="{{ recette ? recette.img.image : '' }}" alt="{{ recette ? recette.name : '' }}">
      </div>
      <div class="informations-recette">
        <div class="time-recette">
          <i class="ri-time-line"></i>
          <div class="time-recette-text">
            <span id="time-recette-text-responsive">Temps de préparation :</span><span> {{ recette ? formatTime(recette.time_preparation) : '' }} </span>
          </div>
        </div>
        <div class="people-recette">
          <i class="ri-user-line"></i>
          <div class="people-recette-text">
            <span id="people-recette-text-responsive">Nombre de personnes : </span><span> {{ recette ? recette.people_number : '' }} </span>
          </div>
        </div>
        <div class="difficulty-recette">
          <i class="ri-trophy-line"></i>
          <div class="difficulty-recette-text">
            <span id="difficulty-recette-text-responsive">Difficulté : </span><span>{{ recette ? recette.difficulty : '' }}</span>
          </div>
        </div>
      </div>
      <div class="btn-recette">
        <button type="button" class="btn" (click)="this.goToRecette(recette.id)">Aller à la recette</button>
      </div>
    </div>
  </div>


</div>
