<div class="all-recette">

  <div class="filter-bar">
    <div class="text-search">
      <h2>Rechercher une recette</h2>
    </div>
    <div class="search-bar">
      <input type="input-search-bar" id="input-search-bar" placeholder="Nom de la recette" [(ngModel)]="this.filterNameRecette" (ngModelChange)="this.getRecettesByNameAndByCategory(this.filterNameRecette, this.filterCategoryRecette)">
    </div>
    <div class="category">
      <select name ="categories" id="categories-select" [(ngModel)]="this.filterCategoryRecette" (ngModelChange)="this.getRecettesByNameAndByCategory(this.filterNameRecette, this.filterCategoryRecette)">
        <option>Choisir une catégorie</option>
        <option *ngFor="let category of categories">
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="list-recettes">
    <div class="card-recette" *ngFor="let recette of recettesInfos" (click)="this.goToRecette(recette.id)">
      <div class="img-recette">
        <img src="{{ recette.img.image }}" alt="{{ recette.name }}">
      </div>
      <div class="content-recette">
        <div class="header-recette">
          <h2 class="name-recette"> {{ recette.name }} </h2>
        </div>
        <div class="informations-recette">
          <div class="time-recette">
            <i class="ri-time-line"></i>
            <div class="time-recette-text">
              <span id="time-recette-text-responsive">Temps de préparation :</span><span> {{ recette.time_preparation }} min </span>
            </div>
          </div>
          <div class="people-recette">
            <i class="ri-user-line"></i>
            <div class="people-recette-text">
              <span id="people-recette-text-responsive">Nombre de personnes : </span><span> {{ recette.people_number }} </span>
            </div>
          </div>
          <div class="difficulty-recette">
            <i class="ri-trophy-line"></i>
            <div class="difficulty-recette-text">
              <span id="difficulty-recette-text-responsive">Difficulté : </span><span>{{ recette.difficulty }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
