<header>
  <div class="header" (window:resize)="detectResize($event)">
    <div class="left">

      <a [routerLink]="['/']" (click)="refresh()" class="logo">
        <img src="../../../assets/images/logo_RCAM_cropped.png" alt="RCAM">
      </a>

      <nav #navigation>
        <div class="nav-smallWidth" [ngClass]="{'nav-smallWidth-selected' : this.showMobileMenu}">
          <label (click)="toggleMobileMenu()">☰</label>
        </div>

        <div class="nav-fullWidth">
          <a [routerLink]="['/']" (click)="refresh()" id="linkFullWidth">Les recettes</a>
          <a [routerLink]="['/search']" id="linkFullWidth">La recette mystère</a>
        </div>
      </nav>

    </div>


    <div class="right">

      <div class="is-admin" *ngIf="isAdmin">
        <a routerLink="/create" class="btn">
          <span id="btn-text-largeWidth">Créer une recette</span>
          <span id="btn-text-smallWidth"><i class="ri-add-line"></i></span>
        </a>
      </div>

      <div class="not-login" *ngIf="!isLogged">
        <a routerLink="/login" class="btn">
          <span id="btn-text-largeWidth">Se connecter</span>
          <span id="btn-text-smallWidth"><i class="ri-user-line"></i></span>
        </a>
      </div>

      <div class="is-login" *ngIf="isLogged">
        <button (click)="logout()" class="btn">
          <span id="btn-text-largeWidth">Se déconnecter</span>
          <span id="btn-text-smallWidth"><i class="ri-logout-box-line"></i></span>
        </button>
      </div>

    </div>
  </div>

  <div class="headerMenuMobile" [ngClass]="{'headerMenuMobileSelected' : this.showMobileMenu}" *ngIf="showMobileMenu">
    <div class="linkSmallWidth">
      <a [routerLink]="['/']" (click)="refresh()" id="linkSmallWidth">Les recettes</a>
      <a [routerLink]="['/search']" id="linkSmallWidth">La recette mystère</a>
    </div>
  </div>
</header>
