@import '../../../assets/scss/master.scss';

header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;

  .left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: space(8);

      img {
      max-width: 128px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-smallWidth {
        display: none;

        label {
          display: none;
          margin-bottom: 0;
        }

        .linkSmallWidth {
          display: none;
        }
      }

      .nav-fullWidth {
        display: flex;
        justify-content: space-between;
      }

      a {
        font-size: 18px;
        margin-right: space(4);

        &:last-of-type {
          margin-right: 0;
        }

        &:after {
          content: '';
          display: block;
          width: 0px;
          height: 4px;
          background-color: $white;
          margin-top: space(.5);
          transition: width .4s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: $l) {
  .header {
    .left {
      min-width: calc(100% - 122.3px - 16px);

      .logo {
        margin-right: 0;
      }

      nav {
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;

        .nav-smallWidth {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: calc(100% + 10px);

          label {
            width: 80px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-weight: 900;
            color: $black;
            cursor: pointer;
          }

        }

        .nav-smallWidth-selected {

          label {
            background-color: $black;
            color: $white;
            border: 2px solid $white;
            border-bottom: 0;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .nav-fullWidth {
          display: none;
          flex-direction: column;
          background: transparent;
          height: 220px;
        }
      }
    }
  }

  .headerMenuMobile {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;

    .linkSmallWidth {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      min-width: 100%;

      a {
        font-size: 18px;

        &:after {
          content: '';
          display: block;
          width: 0px;
          height: 4px;
          background-color: $white;
          margin-top: space(.5);
          transition: width .4s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .headerMenuMobileSelected {
    position: relative;
    background-color: $black;
    padding: space(2) 0;
    padding-bottom: space(1);
    border: 2px solid $white;
    border-top: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 1px;
      width: calc((100% / 2) - 40px);
      border-top: 2px solid $white;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 1px;
      width: calc((100% / 2) - 40px);
      border-top: 2px solid $white;
    }

    .linkSmallWidth {
      a {
        color: $white;
      }
    }
  }


}
