<header>

  <div class="left">

    <a [routerLink]="['/']" (click)="refresh()" class="logo">
      <img src="../../../assets/images/logo_RCAM_cropped.png" alt="RCAM">
    </a>

    <nav>
      <a [routerLink]="['/']" (click)="refresh()">Les recettes</a>
      <a href="#">Mes favoris</a>
    </nav>

  </div>


  <div class="right">

    <div class="not-login" *ngIf="!isLogged">
      <a routerLink="/login" class="btn">Se connecter</a>
    </div>

    <div class="is-login" *ngIf="isLogged">
      <button (click)="logout()" class="btn">Se déconnecter</button>
    </div>

  </div>
</header>
