@import '../../../assets/scss/master.scss';

header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;

  .left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: space(8);

      img {
      max-width: 144px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-smallWidth {
        display: none;

        label {
          display: none;
          margin-bottom: 0;
        }

        .linkSmallWidth {
          display: none;
        }
      }

      .nav-fullWidth {
        display: flex;
        justify-content: space-between;
      }

      a {
        font-size: 1.1em;
        font-weight: 600;
        margin-right: space(4);

        &:last-of-type {
          margin-right: 0;
        }

        &:after {
          content: '';
          display: block;
          width: 0px;
          height: 4px;
          background-color: $black;
          margin-top: space(.5);
          transition: width .4s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: space(2);

    #btn-text-smallWidth {
      display: none;
    }
  }
}


@media screen and (max-width: $l) {
  .header {
    .left {
      min-width: calc(100% - auto - 32px);

      .logo {
        margin-right: 0;
      }

      nav {
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;

        .nav-smallWidth {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: calc(100% + 18px);
          z-index: 1;

          label {
            width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-weight: 900;
            color: $black;
            cursor: pointer;
          }

        }

        .nav-smallWidth-selected {

          label {
            background-color: $card;
            color: $black;
            border: 2px solid $black;
            border-bottom: 0;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .nav-fullWidth {
          display: none;
          flex-direction: column;
          background: transparent;
          height: 220px;
        }
      }
    }
  }

  .headerMenuMobile {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;

    .linkSmallWidth {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      min-width: 100%;

      a {
        font-size: 1em;

        &:after {
          content: '';
          display: block;
          width: 0px;
          height: 4px;
          background-color: $black;
          margin-top: space(.5);
          transition: width .4s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .headerMenuMobileSelected {
    background-color: $card;
    padding: space(2) 0;
    padding-bottom: space(1);
    border: 2px solid $black;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .linkSmallWidth {
      a {
        color: $black;
      }
    }
  }

@media screen and (max-width: $m) {

  .header {

    .left {
      min-width: calc(100% - 100px - 32px);
    }

    .right {

      #btn-text-smallWidth {
        display: block;

          i {
            font-weight: 700;
            font-size: 1em;
          }
      }

      #btn-text-largeWidth {
        display: none;
      }
    }
  }

}


}
